#fondo{
    background-image: url(../images/habitacion.jpg);
    background-repeat: no-repeat;
    background-size: 100%;;
    font-family: "Potta One", cursive;
}
.historia{
    background-color: #fff;
    width: 300px; 
    position: relative;
    margin: auto; 
}
#texto{
    padding: 10px;
}