.fondo{
    background-image: url(../images/habitacion.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Potta One", cursive;
}
.fondo.gmail{
    background-image: url(../images/gmail.png);
}
.fondo.correo{
    background-image: url(../images/correo.png);
}
.historia{
    background-color: #fff;
    width: 300px; 
}
#texto{
    padding: 10px;
}