body {
    display: inline-grid;
    place-items: center;
    width: 100%;
    background-image: url(../images/cieloNubes.jpg);
    background-repeat: no-repeat;
    background-size: 180%;
    color: #fff;
    font-family: "Potta One", cursive;
}
.botones {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
}
.simon {
    position: relative;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background-color: #000;
    transform: rotate(45deg);
}
.square {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.square:active,
.active {
    filter: brightness(125%);
}

.red {
    background-color: #EE6352;
}

.blue {
    background-color: #08B2E3;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.green {
    width: 0; 
     height: 0; 
     border-left: 150px solid #57A773;
     border-top: 75px solid transparent;
     border-bottom: 75px solid transparent; 
}

.yellow {
    background-color: #FFDF64;
}

