body {
    display: inline-grid;
    place-items: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    font-family: "Potta One", cursive;
}
.botones {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}
.simon {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}
.square {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.square:active,
.active {
    filter: brightness(125%);
}

.red {
    background-color: #EE6352;
}

.blue {
    background-color: #08B2E3;
}

.green {
    background-color: #57A773;
}

.yellow {
    background-color: #FFDF64;
}

