body{
    font-family: "Potta One", cursive;
    margin:0;
    font-size:16px;
    background-image: url(../images/meditacion.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    outline : none
}
.custom-box{
    max-width:700px;
    background-color:plum;
    margin:40px auto;
    padding:30px;
    border-radius:50px;
    border: solid 3px darkorchid; 
}
.question-number{
    font-size: 18px;
    font-weight: 600;
    border-bottom : 1px solid #000;
    padding-bottom: 10px;
    line-height: 25px
}
.question-text{
    font-size: 22px;
    Line-height: 28px;
    font-weight: 400;
    padding: 20px 0;
    margin:0;
}

.option{
    background-color: lightblue;
    border: solid 2px deepskyblue; 
    padding: 15px;
    font-size: 16px;
    Line-height: 22px;
    color:#000000;
    border-radius : 5px;
    margin-bottom: 10px;
    cursor:pointer;
    opacity:0;
    animation: fadeIn 0.3s ease forwards;
    position: relative;
    overflow: hidden;
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.option.correct::before{
    content: "";
    position: absolute;
    Left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    z-index: -1;
    animation: slideLeft 0.5s;
}
.option.wrong::before{
    content: "";
    position: absolute;
    Left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: lightcoral;
    z-index: -1;
    animation: slideLeft 0.5s ease forwards;
}
@keyframes slideLeft {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
    
}

.option.respondido{
    pointer-events: none;
}
.answer-indicator{
    border-top: solid 1px #000;
}
.answer-indicator div{
    height: 40px;
    width: 40px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    background-color: lightblue;
    border: solid 2px deepskyblue; 
    margin-top: 10px;
}
.answer-indicator div.correct{
    background-color: lightgreen;
    background-image: url("../images/correct.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px darkgreen; 
}
.answer-indicator div.wrong{
    background-color: lightcoral;
    background-image: url("../images/wrong.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 2px darkred; 
}